*,
:after,
:before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
img {
  max-width: 100%;
  min-height: 1px;
}
button {
  background: transparent;
}
// html {
//   font-size: 62.5%;
// }
.homepage-header {
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 7250;
  transition: transform 0.4s, opacity 0.4s 0.2s, visibility 0.4s 0.2s;
  opacity: 1;
}
.homepage-header__button {
  height: min(4.2016806723vw + 57.6050420168px, 115px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2rem;
  min-width: 250px;
  transition: min-width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  .img {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    margin: -10px auto;
  }
  .img img {
    transition: opacity 0.2s 0.3s;
  }
  .img:after,
  .img:before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid;
    width: 0;
    transition: width 0.4s;
  }
  .text {
    display: block;
    text-align: center;
    margin-top: 0.55em;
  }
}
.homepage-header.is-act {
  .homepage-header__button {
    transition: min-width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(10px);
    .img > :first-child {
      opacity: 1;
    }
    .img img {
      opacity: 0;
      transition: opacity 0.2s;
    }
    .img > :last-child {
      opacity: 0;
    }
    .img:after,
    .img:before {
      opacity: 1;
      width: 85%;
    }
  }
  .menu-drawer {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s,
      min-height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .menu-drawer__container {
    transition: padding-top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      padding-bottom 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-top: min(8.4033613445vw + 75.2100840336px, 190px);
    padding-bottom: min(4.2016806723vw + 22.6050420168px, 80px);
    transform: translateY(0);
  }
  .menu-drawer__list {
    opacity: 1;
  }
}

.homepage-header__button {
  .img > :last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
//滑出白色邊框開始
.menu-drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 30px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s,
    min-height 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  min-width: 165px;
  min-height: 0;
  max-height: calc(1vh * 90);
  max-height: calc(var(--vh-raw) * 90);
  box-shadow: 0 0 min(1.6806722689vw + 25.0420168067px, 48px) 0
    rgba(0, 0, 0, 0.15);
}

.menu-drawer__container {
  transform: translateY(20%);
  transition: padding-top 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    padding-bottom 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-drawer__list {
  display: grid;
  opacity: 0;
  transition: opacity 0.4s;
  a {
    display: block;
    padding: 0.5em 0;
  }
}

.homepage-textlink-through {
  display: flex;
}

.homepage-textlink-through > * {
  position: relative;
}

.homepage-textlink-through > :after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  width: 0;
  border-top: 1px solid #312d2b;
}

//hover開始
.homepage-header.is-act {
  .homepage-header__button {
    .img img {
      opacity: 1;
    }
  }
}
.homepage-header.is-act {
  .homepage-header__button {
    .img {
      &::after,
      &::before {
        opacity: 0;
      }
    }
  }
}
.homepage-header__button {
  .img {
    &::after,
    &::before {
      opacity: 0;
    }
  }
}
a {
  .homepage-textlink-through {
    &:hover > * {
      color: #8b8b8b;
    }
  }
  &:hover .homepage-textlink-through > * {
    color: #8b8b8b;
  }
  &:hover .homepage-textlink-through > :after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.homepage-textlink-through {
  &:hover > :after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
//rwd
@media screen and (max-width: 767px) {
  .homepage-header {
    position: fixed;
    top: 30px;
    left: -50px;
  }
}
