.boxheight {
  min-height: 1vh;
  padding-top: 32px;
  padding-bottom: 32px;
}
.postheader {
  position: relative;
  color: #333333;
  padding-bottom: 30px;
  padding-top: 62px;
  h2 {
    font-weight: 900;
    letter-spacing: 3px;
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .article-headerPhoto {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      opacity: 0.4;
    }
  }
}

.article-info {
  padding: 1rem 0;
  // background-color: rgb(255, 255, 255);
  // border: 1px solid rgb(219, 219, 219);
  // border-bottom-right-radius: 3px;
  // border-top-right-radius: 3px;
}
.article-other_userPhoto {
  width: 100%;
  img {
    width: 38%;
    border-radius: 6px;
  }
  svg {
    font-size: 3rem;
  }
}
.article-name {
  font-weight: 700;
  font-size: 1.4rem;
}
.isLikes_icon {
  cursor: pointer;
  svg {
    font-size: 1.6rem;
  }
}
.isCollected {
  cursor: pointer;
  svg {
    color: red;
    font-size: 1.6rem;
  }
}
.comments_container {
  overflow-y: auto;
  height: 330px;
  width: 100%;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
.comment-Content {
  width: 70%;
  border: solid 1px rgb(178 169 169);
  border-radius: 6px;
  padding: 5px 20px;
}

@media screen and (max-width: 1024px) {
  .boxheight {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .article-other_userPhoto {
    img {
      width: 63%;
    }
  }
  .postheader_title {
    margin: 10px auto;
    width: 300px;
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 767px) {
  .boxheight {
    padding-bottom: 10px;
  }
  .article-other_userPhoto {
    width: 100%;
    img {
      width: 100%;
      border-radius: 6px;
    }
    svg {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 375px) {
}
