.boxheight {
  // min-height: 1vh;
  // padding-top: 32px;
  // padding-bottom: 32px;
}
.postheader {
  position: relative;
  color: #333333;
  padding-bottom: 30px;
  padding-top: 62px;
  h2 {
    font-weight: 900;
    letter-spacing: 3px;
  }
  p {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .article-headerPhoto {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      opacity: 0.4;
    }
  }
}

.article-info {
  padding: 1rem 0;
}
.article-other_userPhoto {
  width: 100%;
  img {
    width: 38%;
    border-radius: 6px;
  }
  svg {
    font-size: 3rem;
  }
}
.article-name {
  font-weight: 700;
  font-size: 1.4rem;
}
.isLikes_icon {
  cursor: pointer;
  svg {
    font-size: 1.6rem;
  }
}
.isCollected {
  cursor: pointer;
  svg {
    color: red;
    font-size: 1.6rem;
  }
}
.comments_container {
  overflow-y: auto;
  height: 330px;
  width: 100%;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
.comment-Content {
  width: 70%;
  border: solid 1px rgb(178 169 169);
  border-radius: 6px;
  padding: 5px 20px;
}

//>> 按讚icon特效開始
$heart-size: 25px;
$heart-color: #ff4d4f;
$heart-background-color: #fff2f2;

.postinfo_heart {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: $heart-size;
  height: $heart-size;
  transition: all 0.2s;
  vertical-align: middle;
  margin-right: 0.5rem;

  &:hover,
  &:active {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: $heart-size;
      height: $heart-size;
      background-color: $heart-background-color;
      border-radius: 50% 50% 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
  }

  &::before {
    top: 0;
    left: -20px;
  }

  &::after {
    top: -20px;
    left: 0;
  }

  &:hover,
  &.liked {
    &::before {
      animation: like-up 0.5s ease-out;
      opacity: 0;
    }
    &::after {
      animation: like-right 0.5s ease-out;
      opacity: 0;
    }
  }

  &.liked {
    &::before,
    &::after {
      display: none;
    }
    &::before,
    &::after,
    svg {
      color: $heart-color;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0px;
    width: $heart-size;
    height: $heart-size;
    fill: none;
    stroke: $heart-color;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.2s;
  }

  &:hover svg,
  &.liked svg {
    transform: scale(1.3);
  }

  &:active svg {
    // transform: scale(1);
  }

  @keyframes like-up {
    0% {
      transform: rotate(-45deg) scale(1) translate(0, 0);
      opacity: 1;
    }
    50% {
      transform: rotate(-45deg) scale(1.5) translate(0, -40%);
      opacity: 0.5;
    }
    100% {
      transform: rotate(-45deg) scale(2) translate(0, -80%);
      opacity: 0;
    }
  }

  @keyframes like-right {
    0% {
      transform: rotate(-45deg) scale(1) translate(0, 0);
      opacity: 1;
    }
    50% {
      transform: rotate(-45deg) scale(1.5) translate(40%, 0);
      opacity: 0.5;
    }
    100% {
      transform: rotate(-45deg) scale(2) translate(80%, 0);
      opacity: 0;
    }
  }
}

//>> 按讚icon特效結束
@media screen and (max-width: 1024px) {
  .boxheight {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .article-other_userPhoto {
    img {
      width: 63%;
    }
  }
  .postheader_title {
    margin: 10px auto;
    width: 300px;
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 767px) {
  .boxheight {
    padding-bottom: 10px;
  }
  .article-other_userPhoto {
    width: 100%;
    img {
      width: 100%;
      border-radius: 6px;
    }
    svg {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 375px) {
}
