@import "./custom_variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
.swal2-icon.swal2-warning {
  border-color: #fd0230 !important;
  color: #fd0230 !important;
}
.modal-content {
  // width: 1000px !important;
}
body {
  font-family: "Noto Sans TC", "Open Sans", sans-serif !important;
}

* {
  scrollbar-width: thin;
  /* Firefox */
}

*::-webkit-scrollbar {
  /* Chrome Safari */
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  /* Chrome Safari */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  /* Chrome Safari */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.app {
  // margin-top: 94px;
}
.offcanvas {
  border: none;
  // max-width: 90vw;
}
.custom-container {
  max-width: 1280px;
  padding: 0 70px;
}
@media screen and (max-width: 768px) {
  .app {
    // margin-top: 80px;
  }

  * {
    scrollbar-width: auto;
    /* Firefox */
  }

  *::-webkit-scrollbar {
    /* Chrome Safari */
    width: 0.2em;
  }

  *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Chrome Safari */
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    /* Chrome Safari */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
}
@media screen and (max-width: 767px) {
  .custom-container {
    max-width: 1280px;
    padding: 0 20px;
  }
}
