.post {
  margin-top: 100px;
  position: relative;
  h2 {
    font-weight: 500;
    color: #49676e;
  }
  .cloud-sunBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
  }
  .photo {
    width: 100%;
    max-width: 500px;

    display: flex;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
    height: 300px;
    border-radius: 12px;
    transform: scale(0.99);
    transition: all 0.3s ease 0s;
    overflow: hidden;

    &:hover {
      transform: scale(1.011);
    }
  }

  .article {
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
    padding: 15px;
    max-width: 510px;
    position: relative;
  }
  .post_map_content {
    padding: 15px;
    margin: 10px 0;
    // background-color: #f8eeed;
  }
}
.likeIcon {
  cursor: pointer;
}
.otherLikes {
  cursor: pointer;
}
.BsBookmark {
  cursor: pointer;
}

.modal_like_photo {
  img {
    width: 65%;
    border-radius: 50%;
  }
}
.modal_like_userName {
  font-size: 1.4rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .post {
    .post_description {
      .post_title {
        padding: 10px 0;
        width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
@media screen and (max-width: 767px) {
}
