$header_bg_color: #c0c6b9;
// $header_bg_color: #b0d0d3;

$graycolor: #747474;
$font-size_P: 18rem;
a,
ul {
  text-decoration: none;
  list-style: none;
}
.header_main_body {
  //滾動後隱藏css
  background-color: $header_bg_color;
  position: sticky;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header_main_body.show {
  top: 0;
}
.header_main_body.hide {
  top: -5rem;
}
.header_main {
  padding: 0 100px;
  box-shadow: rgba(232, 232, 232, 0.662) 1px 1px 5px;
  .user-picture {
    img {
      width: 100%;
      height: 40px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .post_article {
    cursor: pointer;
  }
  .header_logo {
    width: 100%;
    img {
      object-fit: contain;
      height: 70px;
    }
  }
}
.header_hoverLink {
  a {
    position: relative;
    &:hover > li {
      transition: 0.5s all step-start;
      // - hover後 文字底線有bottom浮動特效
      &::before {
        width: calc(100% - 30px);
      }
    }
  }
  li {
    color: #312d2b;
    opacity: 0.85;
    font-weight: 700;
    // - hover後 文字底線有bottom浮動特效
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      transform: translateX(-50%);
      // border-bottom: 2.5px #eae7dc solid;
      border-bottom: 2.5px rgb(220, 90, 90) solid;

      transition: 0.3s all;
    }
    &:active::before {
      width: calc(100% - 16px);
    }
    &:hover {
      opacity: 1;
    }
  }
}
.active {
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    border-bottom: 2.5px rgb(220, 90, 90) solid;
    transition: 0.3s all;
  }
  &::before {
    width: calc(100% - 30px);
  }
}
.custom_modal {
  .modal-content {
    width: 800px;
    transform: translate(-50%, 0%);
    left: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .header_main {
    padding: 0 70px;
    .header_logo {
      img {
        height: 80px;
        max-width: 150px;
      }
    }
  }
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .header_main {
    .header_Icon_content {
      .row > * {
        // margin: 0;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header_main_body {
    display: none;
  }
  .active {
    &::before {
      border-bottom: 2.5px transparent solid;
    }
  }
}
@media screen and (max-width: 375px) {
}
@media screen and (min-width: 767px) {
  .rwd_headerMenu {
    display: none;
  }
}
