$header_bg_color: #c0c6b9;
// $header_bg_color: #b0d0d3;

$graycolor: #747474;
$font-size_P: 18rem;
a,
ul {
  text-decoration: none;
  list-style: none;
}
.header_main_body {
  background-color: $header_bg_color;
}
.header_main {
  padding: 0 100px;
  box-shadow: rgba(232, 232, 232, 0.662) 1px 1px 5px;
  .user-picture {
    img {
      width: 100%;
      height: 40px;
      object-fit: contain;
      border-radius: 8px;
    }
  }
  .post_article {
    cursor: pointer;
  }
  .header_logo {
    width: 100%;
    img {
      object-fit: contain;
      height: 70px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header_main {
    padding: 0 70px;
    .header_logo {
      img {
        height: 80px;
      }
    }
  }
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .header_main {
    .header_Icon_content {
      .row > * {
        // margin: 0;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header_main {
    padding: 0 20px;
    .post_article {
      display: none;
    }
    .header_Icon {
      padding-left: 3rem;
    }
    .header_logo {
      img {
        height: 70px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .header_main {
    padding: 0 15px;
    .post_article {
      display: none;
    }
    .header_Icon {
      padding-left: 4rem;
      text-align: center;
    }
  }
}
