.messenger {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;

  .wrap {
    background-color: #f4f5f7;
    overflow: hidden;
    width: 30%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    .closebtn {
      align-items: center;
      // background-color: #707c92;
      border-radius: 1rem;
      color: #b7bcc2;
      cursor: pointer;
      display: flex;
      font-size: 2rem;
      justify-content: center;
      opacity: 0.7;
      position: absolute;
      right: 5%;
      top: 10px;
      transition: opacity 0.2s;
      height: 1.75rem;
      width: 2.5rem;
      .icon-close {
        display: inline-block;
        font-family: "fs-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        &::before {
          content: "x";
        }
      }
    }

    // height: auto;

    .wrap-open {
      // height: auto;

      width: 100%;
      display: flex;
      flex-direction: column;
      .ember-view {
        height: 100%;
        .home-content {
          height: 100%;
          .header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #6c767c;
            .title {
              height: 4rem;
              width: 100%;
              align-items: center;
              display: flex;
              .logo {
                padding: 1rem 12px;
                img {
                  max-height: 2rem;
                  max-width: 10rem;
                }
              }
            }
          }
        }
        .body-sections {
          padding: 10px;
          // height: calc(100% - 4rem - 34px);
          // overflow: hidden;
          height: 60vh;
          overflow-x: auto;
          position: relative;
          .dummy-bar {
            display: block;
            position: absolute;
            top: 0;
            transition: height 0.1s ease;
            height: 1.5rem;
            width: 90%;
            .card-layout {
              height: 100%;
              overflow-x: hidden;
              overflow-y: auto;
              width: 100%;
            }
          }
        }
        .chatBoxBottom {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 6px;
        }
        .chatMessageInput {
          width: 95%;
          height: 60px;
          padding: 10px;
          margin-bottom: 10px;
        }
        .chatSumnitButton {
          width: 70px;
          height: 40px;
          border-radius: 5px;
          cursor: pointer;
          background-color: teal;
          color: white;
          border: none;
        }
      }
    }
  }
  .h-hotline {
    background-color: #2d3047 !important;
    color: #ffffff !important;
    border-color: transparent #2d3047 transparent transparent;
  }
  .d-wrap {
    align-items: center;
    border-radius: 34px 8px 34px 34px;
    bottom: 6px;
    box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5px;
    z-index: 9995;
    height: 60px;
    width: 60px;
    .chat-icon {
      border-radius: 6px 6px 6px 2px;
      height: 17px;
      left: 32%;
      position: absolute;
      top: 37%;
      width: 42%;
      background-color: white;
      &::after {
        background-color: #000;
        border-radius: 2px 2px 2px 2px;
        border-top: 5px;
        content: "";
        height: 2px;
        left: 4px;
        position: absolute;
        top: 10px;
        width: 44%;
      }
      &::before {
        background-color: #000;
        border-radius: 2px 2px 2px 2px;
        border-top: 5px;
        content: "";
        height: 2px;
        left: 4px;
        position: absolute;
        top: 5px;
        width: 65%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) and (max-width: 920px) {
}
@media screen and (max-width: 767px) {
  .messenger {
    z-index: 999;
    .wrap {
      width: 90%;
    }
  }
}
@media screen and (max-width: 375px) {
}
