$header_bg_color: #c0c6b9;

.footer {
  background-color: $header_bg_color;
  .footer-icon {
    svg {
      font-size: 1.8rem;
    }
  }
  .copyright {
    position: relative;
    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }
  .copyright_img {
    position: absolute;
    bottom: 0%;
    right: 25%;
    img {
      width: 70%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    .copyright_img {
      position: absolute;
      bottom: 0%;
      right: 15%;
    }
  }
}
@media screen and (max-width: 768px) and (max-width: 920px) {
  .footer {
    .copyright_img {
      position: absolute;
      bottom: 0%;
      right: 5%;
    }
  }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 375px) {
  .header_main_body {
  }
}
