@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Zeyada&display=swap');
.header-background {
  // background-color: #eae7dc;
  min-height: 60vh;
}
.cloud-sunBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
.homeContainer {
  .welcome_h2 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zeyada', cursive;
    text-align: center;
  }
  .about-Myblog {
    margin-top: 6rem;
    p {
      font-size: 1.2rem;
      line-height: 2.5;
    }
  }
}
.u-mt35 {
  margin-top: min(1.8382352941vw + 44.8897058824px, 50px) !important;
  cursor: pointer;
}
// button滑動特效 開始
.c-button01 p:focus:before,
.c-button01 p:hover:before {
  box-shadow: 0 0 min(1.6806722689vw + 25.0420168067px, 48px) 0
    rgba(0, 0, 0, 0.15);
  width: 100%;
  border-color: #fff;
  background-color: #fff;
}
.c-button01 p:focus .c-illust,
.c-button01 p:hover .c-illust {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s 0.2s,
    transform 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
}
.c-button01 {
  display: flex;
  align-items: center;
  position: relative;
  p {
    width: 270px;
    position: relative;
    padding-right: 90px;
    margin-right: -90px;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 80px;
    bottom: 10px;
  }
  .c-illust {
    position: absolute;
    width: 64px;
    bottom: 2px;
    right: 0px;
    opacity: 0;
    transform: translateX(10%);
    transition: opacity 0.4s, transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    svg {
      font-size: 1.8rem;
    }
  }
  p .text {
    position: relative;
    transition: margin-left 0.4s cubic-bezier(0.77, 0, 0.175, 1),
      opacity 0.8s 1.6s;
  }
  p:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    top: 30px;
    position: absolute;
    left: 30px;
    background-color: #888;
    border-radius: 9999px;
    transform: translate(-50%, -50%);
  }
  p:before {
    content: '';
    display: flex;
    padding-left: 30px;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    top: 0;
    left: 0;
    border: 1px solid #888;
    transition: box-shadow 0.4s cubic-bezier(0.77, 0, 0.175, 1),
      width 0.4s cubic-bezier(0.77, 0, 0.175, 1),
      border-color 0.4s cubic-bezier(0.77, 0, 0.175, 1),
      background-color 0.4s cubic-bezier(0.77, 0, 0.175, 1),
      transform 1.6s cubic-bezier(0.77, 0, 0.175, 1), opacity 1.6s;
  }
}
//button滑動特效結束
//滑鼠轉動開始
.mouse-hover {
  .mouser-box {
    width: '50%';
    height: '10%';
  }

  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 10;
  .section-down-arrow {
    border: none !important;
    overflow: visible;
    text-align: center;
    opacity: 1;
    height: auto;
    bottom: 13px;
    animation: nudgeMouse 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    display: inline-block;
    line-height: 50px;
    border-radius: 100px;
    font-size: 25px;
    transition: opacity 0.4s ease;
    margin-left: 0;
    left: 0;
  }

  @keyframes nudgeMouse {
    0% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(8px);
    }
    100%,
    65% {
      transform: translateY(0);
    }
  }
  .nectar-scroll-icon-path {
    fill: transparent;
    stroke-width: 2px;
    stroke-dashoffset: 120; //! stroke線條隱藏兩個一定都要有
    stroke-dasharray: 120; //! stroke線條隱藏兩個一定都要有
    animation: mouse-scroll-btn-roll-out 0.55s cubic-bezier(0.5, 0.1, 0.07, 1);
  }
  @keyframes mouse-scroll-btn-roll-out {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -120;
    }
  }
  .section-down-arrow:hover {
    .nectar-scroll-icon-path {
      stroke-dashoffset: 0;
      animation: mouse-scroll-btn-roll-over 0.55s
        cubic-bezier(0.5, 0.1, 0.07, 1);
    }
  }
  @keyframes mouse-scroll-btn-roll-over {
    0% {
      stroke-dashoffset: 120;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  .section-down-arrow::before {
    z-index: 5;
    position: absolute;
    content: '';
    display: block;
    left: 50%;
    margin-left: -1px;
    top: 15px;
    background-color: #7f7b7b;
    width: 2px;
    height: 6px;
    border-radius: 10px;
    transition: background-color 0.55s cubic-bezier(0.5, 0.1, 0.07, 1);
  }

  .section-down-arrow::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    display: block;
    width: 30px;
    height: 45px;
    margin-left: -15px;
    margin-top: -15px;
    border: 2px solid #7f7b7b;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    transition: background-color 0.55s cubic-bezier(0.5, 0.1, 0.07, 1);
  }
  .nectar-scroll-icon {
    width: 30px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) and (max-width: 920px) {
}
@media screen and (max-width: 767px) {
  .header-background {
    min-height: 30vh;
  }
  .mouse-hover {
    margin-top: 40%;
    margin-bottom: -25%;
  }
  .home-header_img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .homeContainer {
    .welcome_h2 {
      font-size: 3rem;
      margin-top: 10rem;
    }
  }
}
@media screen and (max-width: 375px) {
}
